<div class="pokedex">
    <div class="pokedex-inside">
        <div class="pkm-left">
            <div class="name">
                <p *ngIf="!pokemonDetail">Nom du Pokemon</p>
                <p *ngIf="pokemonDetail"> {{pokemonDetail.name | titlecase}}</p>
            </div>
            <div class="img">
                <img *ngIf="!pokemonDetail" src="https://66.media.tumblr.com/tumblr_mai132OrFS1rfjowdo1_500.gif" alt="">
                <img *ngIf="pokemonDetail" [src]="pokemonDetail.sprites.front_shiny"
                    [alt]=" 'front' + pokemonDetail.name">
                <img *ngIf="pokemonDetail" [src]="pokemonDetail.sprites.back_shiny"
                    [alt]=" 'back' + pokemonDetail.name">
            </div>
            <div class="infos">
                <p>N° <span *ngIf="!pokemonDetail">XXX</span> <span *ngIf="pokemonDetail">{{pokemonDetail.id}}</span>
                </p>
                <p>Poids : <span *ngIf="!pokemonDetail">X</span> <span *ngIf="pokemonDetail">{{pokemonDetail.weight /
                        10}}</span> kg</p>
                <p>Taille : <span *ngIf="!pokemonDetail">X</span> <span *ngIf="pokemonDetail">{{pokemonDetail.height *
                        10}}</span> cm </p>
            </div>
        </div>
        <div class="pkm-right">
            <div *ngIf="!pokemonResult" class="pkm-list">
                <p *ngFor="let setup of setUpList" class="pkm-select">{{setup}}</p>
            </div>

            <div *ngIf="pokemonResult" class="pkm-list">
                <ul *ngFor="let pokemonSimple of pokemonResult.results">
                    <li (click)="getOne(pokemonSimple.url)" class="pokeList">
                        <p class="pkm-select">
                            {{pokemonSimple.name | titlecase}}</p>
                        <img class="minImg" [src]="pokemonSimple.front_shiny">
                    </li>
                </ul>
            </div>


            <div class="buttons">
                <button (click)="prev()" [disabled]="pokemonResult.previous == null">
                    ⬆
                </button>
                <button (click)="next()" [disabled]="pokemonResult.next == null">
                    ⬇
                </button>
            </div>
        </div>
    </div>
</div>